dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.24
django-bootstrap4==0.0.8
django-bower==5.2.0
django-jsonfield==1.2.0
django-modeltranslation==0.13.1
django-nvd3==0.9.7
django-php==0.1
django-qsstats-magic==1.0.0
djcacheutils==3.0.0
gunicorn==19.9.0
Jinja2==2.10.1
MarkupSafe==1.1.1
python-dateutil==2.8.0
python-memcached==1.59
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2019.1
sqlparse==0.3.0
static3==0.7.0
Unidecode==1.0.23
django-request==1.5.4
